.container {
    margin-top: 5% !important;
}

.container h2 {
    text-align: center !important;
    color: #70BB56 !important;
}

.container .btn {
    width: 100% !important;
}

.container h3 span {
    color: #70BB56 !important;
}

.container form em {
    color: red;
}